@page "/admin"
@model Mission8.Pages.Admin.IndexModel
@{
}

<!DOCTYPE html>

<html>

<head>
    <title>Bookstore Admin</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>

<body>

    <component type="typeof(Mission8.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>

</body>

</html>