@page
@model Mission8.Pages.PurchaseCompleteModel
@{
}


<div class="text-center">
    <h2>Thanks! Your order is on its way.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>